@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";


@theme{
  --font-ubuntu: 'Ubuntu', sans-serif;


  /* colors */

  --color-primary: #4B6BFB;
  --color-secondary: #696A75;
  --color-tertiary: #F2F2F2;
}